body {
    font-family: sans-serif;
}
.container.header {
    display: flex;
    /*justify-content: center;*/
    /*!*background-color: #15b0a4;*!*/
    /*!*border: 3px solid lightgray;*!*/
    /*padding: 15px;*/
    /*margin: 10px;*/
    display: none;
    margin: 0%;
    padding: 0%;
}
 /*#toprow {*/
 /*    align-items: center;*/
 /*}*/

.hidden-on-desktop a {
    text-decoration: none;
    color: black;
}

header h1 {
    display: flex;
    align-content: flex-start;
}

 .nav-links {
     display: flex;
     align-items: center;
     gap: 1px;
     list-style: none;
 }

.nav-links li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding: 10px;

}

.header-img img {
    width: 100%;
}

.column.subsection {
    flex: 0 0 35%;
}

 #bottom-row {
     flex-direction: row;
    /*justify-content: start;*/
     align-items: center;
}

 #bottom-row p {
     flex-grow: 1;
 }

#social-media-links {
    flex-direction: row;
}

/*mobile*/
@media screen and (max-width: 500px) {
    #main .row {
        flex-direction: column;
    }

    .container.header {
        display: flex;
        justify-content: center;
        /*background-color: #15b0a4;*/
        /*border: 3px solid lightgray;*/
        padding: 15px;
        /*margin: 1px;*/
    }

    .hidden-on-desktop {
        display: flex;
        justify-content: center;
        display: unset;
        display: flex;
        justify-content: center;
        background-color: #cbffff;
        border: 3px solid lightgray;
        padding: 15px;

    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1px;
        list-style: none;
        flex-direction: column;
        gap: 10px;
    }

    #toprow {
        flex-direction: column;
        justify-content: center;
        /*flex-grow: 1;*/
    }
    ul.nav-links {
        padding-left: 0px;
    }
    .nav-links li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        padding: 10px;
        background-color: lightgrey;
        color: black;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        color: black;
        text-decoration: unset;
    }

    header h1 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    footer {
        flex-direction: row;
    }

    #bottom-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #social-media-links {
        flex-direction: row;
    }
}

