body {
    font-family: sans-serif;
}

/*MOBILE VIEW*/
.container.header {
    display: flex;
    justify-content: center;
    background-color: #15b0a4;
    border: 3px solid lightgray;
    padding: 15px;
    margin: 10px
}
.container a {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: unset;
}

header h1 {
    display: flex;
    justify-content: center;
}

 .nav-links {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     list-style: none;
 }

.nav-links li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding: 10px;
    background-color: lightgrey;
    /*border: 1px solid black;*/
    color: black;
}

.header-img img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    #main .row {
        flex-direction: column;
    }
}

