body {
    font-family: sans-serif;
}
.container.header {
    display: flex;
    justify-content: center;
    /*background-color: #15b0a4;*/
    /*border: 3px solid lightgray;*/
    padding: 15px;
    margin: 10px
}
.hidden-on-desktop {
    display: flex;
    justify-content: center;
    display: none;
}

.hidden-on-desktop a {
    text-decoration: none;
    color: black;
}

header h1 {
    display: flex;
}

 .nav-links {
     display: flex;
     align-items: center;
     gap: 1px;
     list-style: none;
 }

.nav-links li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding: 10px;

}

.header-img img {
    width: 100%;
}

.column.subsection {
    flex: 0 0 35%;
}

/*mobile*/
@media screen and (max-width: 500px) {
    #main .row {
        flex-direction: column;
    }
    .hidden-on-desktop {
        display: flex;
        justify-content: center;
        display: unset;
        display: flex;
        justify-content: center;
        background-color: #cbffff;
        border: 3px solid lightgray;
        padding: 15px;

    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1px;
        list-style: none;
        flex-direction: column;
        gap: 10px;
    }

    #toprow {
        flex-direction: column;
        justify-content: center;
        /*flex-grow: 1;*/
    }
    .nav-links ul {
        ;
    }

    .nav-links li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        padding: 10px;
        background-color: lightgrey;
        color: black;
    }

    .container a {
        display: flex;
        justify-content: center;
        color: black;
        text-decoration: unset;
    }

    header h1 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

